.nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  width: 100%;
  position: fixed;
  min-width: 100%;
   z-index:100;
  top:0;
  left:0;
  background-color: white;
  box-shadow: 0 2px 1px rgba(0,0,0,0.09), 0 4px 2px rgba(0,0,0,0.09), 
  0 8px 4px rgba(0,0,0,0.09), 0 16px 8px rgba(0,0,0,0.09), 0 32px 16px rgba(0,0,0,0.09);
}

.static{
  margin-top:100px;
}
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
.nav h2{
  color:#ff6329;
}



